* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}

/* =========== Variáveis =========== */

:root {
    --cor-primaria: #7d2851;
    --roxo: #7d2851;
    --cor-secundaria: rgb(134, 177, 180);
    --cor-fundo-1: #e2e7ed;
    --cor-fundo-2: #dee3e9;
    --laranja-claro: #ffb488;
    --laranja-escuro: #f47454;
    --lilas: #edb8d2;
    --tamanho-header: 7.5rem;
    --breakpoint-foto: 1100px;
    --breakpoint-remover-foto: 910px;
}

body {
    /* fallback*/
    background: var(--cor-fundo-2);
    /* gradiente */
    background: linear-gradient( to bottom, var(--cor-fundo-1), var(--cor-fundo-2));
    color: var(--cor-primaria);
    font-family: "Montserrat", Georgia, serif;
    width: 100vw;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

h1 {
    font-size: calc(var(--tamanho-header) / 3);
    font-weight: 500;
}

h1, h2, header {
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1em;
    margin-top: 1em;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.6em;
    color: var(--laranja-escuro);
}

p {
    font-family: "Roboto";
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1em;
}

header, footer {
    width: 100%;
    padding: calc(var(--tamanho-header) / 3) 10%;
    /* "Sombra" discreta para destacar melhor o texto das cores do fundo */
    text-shadow: 0px 0px 4px var(--cor-fundo-1), 0px 0px 5px var(--cor-fundo-1), 0px 0px 6px var(--cor-fundo-1);
}

header, footer {
    background: url("/assets/pawel-czerwinski-3vycqsMutjE-unsplash.jpg");
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat";
    font-weight: 400;
    background-position: 40% 15%;
}

nav ul {
    display: flex;
}

nav li {
    font-family: "Roboto";
    font-size: 1.4rem;
    margin-left: 1em;
    padding: 0.5em 1em;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
}

main {
    margin: auto;
    max-width: 1500px;
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li:hover {
    cursor: pointer;
    border-color: var(--cor-primaria);
    text-shadow: 1px 1px 1px var(--laranja-escuro);
}

nav li:active {
    color: var(--laranja-claro);
    border-color: var(--laranja-claro);
}

section {
    padding-top: calc(var(--tamanho-header) * 4 / 3);
}

hr {
    color: var(--laranja-claro);
    margin-bottom: 1rem;
}

img.foto-perfil {
    display: none;
    border-radius: 50%;
    border: 2px solid var(--laranja-escuro);
}

.flex-space-bt {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.links .wrapper-icone+.wrapper-icone {
    margin-left: 0.5em;
}

.ferramentas {
    font-family: "Roboto";
    font-size: 1.3rem;
    font-weight: 400;
}

.ver-codigo {
    display: flex;
}

.fa-angle-down {
    margin-top: 4rem;
    padding-top: 4rem;
    font-size: 4rem;
    text-align: center;
    position: relative;
    animation: saltar 3s ease-in-out infinite;
}

.wrapper-icone {
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.links .wrapper-icone {
    color: var(--cor-fundo-1);
    background-color: var(--cor-primaria);
}

.ver-codigo .wrapper-icone+.wrapper-icone {
    margin-left: 1em;
}

.card {
    display: flex;
    margin-top: 3rem;
    position: relative;
}

.texto-card {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.card .ver-codigo {
    position: absolute;
    bottom: 0;
}

.link--fundo-lilas {
    background-color: var(--lilas);
}

.link--fundo-lilas:hover {
    background-color: var(--laranja-escuro);
}

.projeto img {
    width: 100%;
    /* mobile */
    border: 3px solid var(--laranja-claro);
    padding: 0.5rem;
    border-radius: 1rem;
}

.projeto img:hover {
    width: 100%;
}

.texto-card:first-child {
    /* Card "sobre mim" */
    margin-left: 0;
    margin-right: 2rem;
}

.saiba-mais {
    position: absolute;
    bottom: 2em;
}

.contatos, .codigo {
    flex: 1;
}

/* ============= Footer ============= */

footer {
    margin-top: 4em;
    background-position: 100% 0%;
}

.footer--conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 4em;
}

.footer--conteudo div:nth-child(2) {
    margin-top: 4em;
}

footer li {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2rem;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.creditos {
    font-weight: lighter;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .texto-card:first-child {
        /* Card "sobre mim" */
        margin-right: 0;
        width: 100%;
    }
    h1 {
        font-size: calc(var(--tamanho-header) / 3 * 0.9);
    }
    h3 {
        font-size: calc(var(--tamanho-header) / 3 * 0.55);
    }
    #logo {
        display: none;
    }
    .card {
        flex-direction: column;
        width: 100%;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 910px) {
    img.foto-perfil {
        display: block;
        position: absolute;
        top: -2.5em;
        right: 1.5em;
        width: 200px;
        height: 200px;
        background-color: var(--cor-fundo-1);
        border-width: 2px;
        padding: 0;
    }
    .footer--conteudo {
        flex-direction: row;
    }
    .footer--conteudo div:nth-child(2) {
        margin-top: 0;
    }
}

@media screen and (min-width: 1100px) {
    img.foto-perfil {
        display: inline;
        width: 25vw;
        height: 25vw;
        padding: 0.5em;
        border: 3px solid var(--laranja-escuro);
        max-width: 450px;
        max-height: 450px;
        align-self: center;
    }
    .projeto img {
        max-width: 700px;
        width: 38%;
    }
    .texto-card {
        width: 60%;
        height: 100%;
        justify-content: flex-start;
        margin-left: 2rem;
    }
    .card {
        flex-direction: row;
        justify-content: flex-start;
    }
    .card .foto-perfil {
        margin-bottom: 2em;
    }
}

@keyframes saltar {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 1rem;
    }
}